/*********************************
*
*    CSS style
*
*    Author: Simon Skapik
*    
*    Content:
*    1) Basic formating
*    2) General
*    3) Page Content
*
**********************************/


/* 
*
* 1) Basic formating
*
*/

.hidden{
	display:none;
}
.txt-left{
	text-align:left;
}
.txt-center{
	text-align:center;
}
.txt-right{
	text-align:right;
}
.center{
	margin:0 auto;
}
.full-width{
	width:100%;
}
.half-width{
	width:50%;
}
.v-align-top{
	vertical-align:top;
}
.pointer{
	cursor:pointer;
}
.color-black{
	color:black;
}
.color-white{
	color:white;
}
.color-alert{
	color:#a60000;
}
.bold{
	font-weight:bold;
}
.f-left{
	float:left;
}
.f-right{
	float:right;
}
.non-select{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.no-resize{
	resize: none;
}
.auto-width{
	width:auto;
}

/* 
*
* 2) General
*
*/

.page{
   width:90%;
   margin:0 auto;
   padding:5px;
}

.toolbar{
   width:100%;
   border-bottom:1px solid #bbb;
   border-top:1px solid #bbb;
}

table.styled{
   width:100%;
}

table.styled tr td{
   border-top:1px solid #aaa;
}

table.styled tr:nth-child(odd){
   background:#efefef;
}

table.styled tr:nth-child(even){
   background:#e1e1e1;
}

tr.ltp-error{
   background:#ffc8c8 !important;
}

span.ltp-error{
   float:right;
   display:block;
   width:10px;
   height:10px;
   margin:0;
   /*margin:0 0 -10px -10px;*/
   padding:0;
}

.ltp-error.part{
   background:yellow;   
}

.ltp-error.pair{
   background:orange;
}

.ltp-error.duplicity{
   background:red;
}

/* 
*
* 3) Page Content
*
*/

.half{
   width:50%;
   margin:0;
   padding:0;
   float:left;
   height:330px;
}

.block{
   padding:10px;
   margin:10px;
   background:#dedede;
}

.block h3{
   margin:0;
}


















